.card{
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 80vw;
    height: 40vh;
    border-radius: 75px;
    background-size: cover;
    background-position: center;
    color: rgb(236, 231, 231);
    text-align: right;
    /* box-shadow:  0px 20px 50px 0px rgb(183, 183, 183); */
}

.cards__container{
    display:flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe{
    position: absolute
}